<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Teplotní Dashboard</title>
    <meta http-equiv="refresh" content="5">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v={{ version_number }}">
</head>
<body>
    <h1>Záznam teploty</h1>
    <form method="post" action="/clear" onsubmit="return confirm('Opravdu chceš smazat všechna měření?');">
        <button type="submit">Smazat všechny záznamy</button>
    </form>
    <table class="styled-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Teplota [°C]</th>
                <th>Čas měření</th>
                <th>Čas odeslání</th>
                <th>Čas přijetí</th>
            </tr>
        </thead>
        <tbody>
            {% for row in measurements %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
